#navbar1 {
   text-align: right; 
}

.navbar-li {
    margin-right: 20px;
}

.navbar-a-branding {
    margin-left: 20px;
}

.logo{
    width: 150px;
    cursor: pointer;
    animation: movedown 1s linear;
    animation-delay: 0.6s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

@keyframes movedown {
    0%{
        transform: translateY(-100px);
        visibility: visible;
    }
    100%{
        transform: translateY(0);
        visibility: visible;
    }
}

.container1 {
    background-image: url('img/image\ \(10\).png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    color: #FFF
}

.container2{
    height: 50vh;
}
@media (max-width: 576px) {
    .bg-image {
      transition: 500ms;
      background-image: none;
      background-color: #000;
    }
  }
