#navbar1 {
   text-align: right; 
}

.navbar-li {
    margin-right: 20px;
}

.navbar-a-branding {
    margin-left: 20px;
}

.bg-image {
    background-image: url('img/image\ \(10\).png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    color: #FFF
}

@media (max-width: 576px) {
    .bg-image {
      transition: 500ms;
      background-image: none;
      background-color: #000;
    }
  }
